nav{
    transparent
}
.login-header{
    height: 80px;
}
.container{
    height: 80vh;
}
.card {
    max-width: 350px;
    padding: 40px;
    margin: auto;
}
.b1{
    background-color: rgb(104, 145, 162);
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    color: white;
    width: 80px;
}
.container a{
    color: rgb(255, 255, 255)
    
}
.container a:hover{
    color: rgb(124, 172, 192)
}

.b1:hover,
.b1:active,
.b1:focus {
    background-color: rgb(82, 115, 129);
}

footer a{
    color: white;
}