
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}
<script src="@Url.Content("~/Scripts/tab.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/News.css")">

<!-- ---- header ---- -->
<header></header>
<!-- ---- container ---- -->
<div class="container clearfix fixed-width">
    <!-- ---- news ---- -->
    <div id="tab">
        <h2 style="color: #fff;">最新消息</h2><hr>
        <div class="tabs">
            <div class="tab-button-outer">
                <ul id="tab-button">
                    <li>
                        <a href="#tab01">全部</a>
                    </li>
                    <li>
                        <a href="#tab02">公告</a>
                    </li>
                    <li>
                        <a href="#tab03">更新</a>
                    </li>
                    <li>
                        <a href="#tab04">上架</a>
                    </li>
                    <li>
                        <a href="#tab05">活動</a>
                    </li>
                </ul>
            </div>
            <div class="tab-select-outer">
                <select id="tab-select">
                    <option value="#tab01">全部</option>
                    <option value="#tab02">公告</option>
                    <option value="#tab03">更新</option>
                    <option value="#tab04">上架</option>
                    <option value="#tab05">活動</option>
                </select>
            </div>

            <div id="tab01" class="tab-contents">
                <ul>
                    <li>
                        <a href="#">【更新】今日更新1.1.25版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】加入粉絲送豪禮!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】買遊戲送遊戲~ 好康只到八月底!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】7/26 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/24 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/20 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
            <div id="tab02" class="tab-contents">
                <ul>
                    <li>
                        <a href="#">【公告】8/10 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】8/4 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】7/30 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】7/26 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】7/24 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【公告】7/20 伺服器維護停機公告</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
            <div id="tab03" class="tab-contents">
                <ul>
                    <li>
                        <a href="#">【更新】今日更新1.1.25版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【更新】今日更新1.1.0版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【更新】今日更新1.0.7版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【更新】今日更新1.0.65版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【更新】今日更新1.0.4版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【更新】7/20 今日更新1.0.0版本</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
            <div id="tab04" class="tab-contents">
                <ul>
                    <li>
                        <a href="#">【上架】8/9 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/27 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/26 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/25 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/24 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【上架】7/20 新遊戲上架囉!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
            <div id="tab05" class="tab-contents">
                <ul>
                    <li>
                        <a href="#">【活動】加入粉絲送豪禮!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】加入粉絲送豪禮!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】買遊戲送遊戲~ 好康只到八月底!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】買遊戲送遊戲~ 好康只到八月底!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】買遊戲送遊戲~ 好康只到八月底!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                    <li>
                        <a href="#">【活動】買遊戲送遊戲~ 好康只到八月底!!</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus aspernatur ipsum accusamus
                            eligendi quas cumque exercitationem, quis eaque deleniti quo sunt numquam sit, consectetur
                            optio obcaecati porro beatae repellat aperiam sapiente tenetur quasi! Odit laboriosam expedita
                            consectetur. Facere quidem non sunt. Inventore sint repellendus excepturi pariatur corporis
                            ducimus aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
