
@{
    ViewBag.Title = "PointCard";
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/cardBrowse.css")">
<!-- ---- header ---- -->
<header class="container"></header>
<!-- ---- container ---- -->
<div class="container clearfix fixed-width">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h2 style="color: #fff;">點數卡</h2>
                <!-- pruduct -->
                <div class="pruduct-demo">
                    <!-- 商品1 -->
                    <a href="#" class="text-white">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100">

                                <img class="card-img-top" src="~/img/mycard/150.jpg" alt="">

                                <div class="card-body">
                                    <h4 class="card-title">
                                        MyCard 150點虛擬點數卡
                                    </h4>
                                    <h5>NT$ 150</h5>
                                    <p class="card-text">
                                        產品內容：MyCard 500點 序號/密碼1組。
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-white">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /商品1 -->
                    <!-- 商品2 -->
                    <a href="#" class="text-white">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100">

                                <img class="card-img-top" src="~/img/mycard/300.jpg" alt="">

                                <div class="card-body">
                                    <h4 class="card-title">
                                        MyCard 300點虛擬點數卡
                                    </h4>
                                    <h5>NT$ 300</h5>
                                    <p class="card-text">
                                        產品內容：MyCard 300點 序號/密碼1組。
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-white">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /商品2 -->
                    <!-- 商品3 -->
                    <a href="#" class="text-white">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100">

                                <img class="card-img-top" src="~/img/mycard/500.jpg" alt="">

                                <div class="card-body">
                                    <h4 class="card-title">
                                        MyCard 500點虛擬點數卡
                                    </h4>
                                    <h5>NT$ 500</h5>
                                    <p class="card-text">
                                        產品內容：MyCard 500點 序號/密碼1組。
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-white">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /商品3 -->
                    <!-- 商品4 -->
                    <a href="#" class="text-white">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100">

                                <img class="card-img-top" src="~/img/mycard/1000.jpg" alt="">

                                <div class="card-body">
                                    <h4 class="card-title">
                                        MyCard 1000點虛擬點數卡
                                    </h4>
                                    <h5>NT$ 1,000</h5>
                                    <p class="card-text">
                                        產品內容：MyCard 1000點 序號/密碼1組。
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-white">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /商品4 -->
                </div>
                <!-- /pruduct -->

            </div>
            <!-- /.row -->

        </div>


    </div>
    <!-- /.row -->

</div>

